body {
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color: #fff;
    background-color: #2a2e42;

}

img {
    width: 10%;
    height: 10%;
    margin: 1vw;
    border-radius: 5%;
}

h1 {
    margin: 3vw;
    font-size: xx-large;
    /* display: inline-block; */
}   
button {
    margin-left: 30%;
}